body{
    background-image: url('ImagesWA/cloud_window.jpg');
    background-repeat: no-repeat;
    background-size: 200%;
    background-color: rgb(201, 227, 236);
    font-family: "Comfortaa", sans-serif;
}
a{
    color: blue;
}
h1 {
  color: blue;
  font-weight: -2000;
}
.weather-app{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}
header{
    border-bottom: 1px solid rgb(201, 227, 236);
    padding: 0 0 30px 0;
}
.search-form-input{
    background-color: rgb(201, 227, 236);
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 15px 20px;
    font-family: "Comfortaa", sans-serif;

}
.search-form-button{
    background: blue;
    padding: 15px 20px;
    border: none;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-family: "Comfortaa", sans-serif;
}
main{
    
}
.weather-app-data{
display: flex;
justify-content: space-between;
}
footer{
    border-top: 1px solid rgb(201, 227, 236);
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.6)
}