:root {
    --primary-color: #ff66c4;
    --secondary-color: #ffebf7;
}
body{
    background-color: rgb(201, 227, 236);
    font-family: "Comfortaa", sans-serif;
    background-size: 100vw 100vh;
}
a{
    color: var(--primary-color);
}
h1 {
  color: var(--primary-color);
}
.weather-app{
    background: white;
    max-width: 800px;
    height: 550px;
    margin: 40px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}
header{
    border-bottom: 1px solid rgb(201, 227, 236);
    padding: 0 0 30px 0;
}
.search-form-input{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 15px 20px;
    font-family: "Comfortaa", sans-serif;

}
.search-form-button{
    background: var(--primary-color);
    padding: 15px 20px;
    border: none;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-family: "Comfortaa", sans-serif;
}
.search-form-button:hover{
    background:#ff0090;
}
main{
   padding: 30px 0;
}
.weather-app-data{
display: flex;
justify-content: space-between;
}
.weather-app-city{
    margin: 0;
    font-size: 50px;
    line-height: 48px;
}
.weather-app-city:hover{
    font-size: 55px;
    color:#ff0090;
}
.weather-app-details{
    font-size: 20px;
    color: rgba(39, 33, 66, 0.4);
}
.weather-app-details strong{
    color: black;
}
.weather-app-temperature-container{
    display: flex;

}
.weather-app-icon{
    font-size: 150px;
    margin-top: -25px;
}
.weather-app-temperature{
  font-size: 100px;
  font-weight: bold;
  margin-left: 10px;
  color: var(--primary-color);  
}
.weather-app-unit{
    margin-top: -5px;
    font-size:30px;
  color: var(--primary-color);  
}
.weather-forecast{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.weather-forecast-date{
    text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
    margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: black;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer{
    border-top: 1px solid var(--primary-color);
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    
}
a:hover{
    color:#ff0090;
}
